FIND_WCF_Game21/GameClient/Connected Services/ServiceGame/ServiceGame1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceGame_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.102:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.102:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.102:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceGame_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Prepare_InputMessage">
    <wsdl:part name="parameters" element="tns:Prepare" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_RequestCard_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestCard" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_StopRequestCard_InputMessage">
    <wsdl:part name="parameters" element="tns:StopRequestCard" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_IsCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCurrent" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_IsCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_IsConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConnect" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_IsConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_JoinPossible_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinPossible" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_JoinPossible_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinPossibleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_CheckConnectClientToHost_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectClientToHost" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_CheckConnectClientToHost_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectClientToHostResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_MsgCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MsgCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_NewCurrentUserCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewCurrentUserCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_NewCardCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewCardCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_GameFinishCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameFinishCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_NewGameCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewGameCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_AmountCoinsCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AmountCoinsCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_PlayerListCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerListCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Pong_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Pong" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_Pong_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PongResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceGame_CheckConnectCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectCallback" />
  </wsdl:message>
  <wsdl:portType name="IServiceGame">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Connect" message="tns:IServiceGame_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/ConnectResponse" message="tns:IServiceGame_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Disconnect" message="tns:IServiceGame_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/SendMessage" message="tns:IServiceGame_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/SendMessageResponse" message="tns:IServiceGame_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Prepare">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Prepare" message="tns:IServiceGame_Prepare_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/RequestCard" message="tns:IServiceGame_RequestCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopRequestCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/StopRequestCard" message="tns:IServiceGame_StopRequestCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCurrent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/IsCurrent" message="tns:IServiceGame_IsCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/IsCurrentResponse" message="tns:IServiceGame_IsCurrent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/Ping" message="tns:IServiceGame_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/PingResponse" message="tns:IServiceGame_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/IsConnect" message="tns:IServiceGame_IsConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/IsConnectResponse" message="tns:IServiceGame_IsConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinPossible">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/JoinPossible" message="tns:IServiceGame_JoinPossible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/JoinPossibleResponse" message="tns:IServiceGame_JoinPossible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnectClientToHost">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/CheckConnectClientToHost" message="tns:IServiceGame_CheckConnectClientToHost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/CheckConnectClientToHostResponse" message="tns:IServiceGame_CheckConnectClientToHost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/MsgCallback" message="tns:IServiceGame_MsgCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCurrentUserCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/NewCurrentUserCallback" message="tns:IServiceGame_NewCurrentUserCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCardCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/NewCardCallback" message="tns:IServiceGame_NewCardCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameFinishCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/GameFinishCallback" message="tns:IServiceGame_GameFinishCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewGameCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/NewGameCallback" message="tns:IServiceGame_NewGameCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="AmountCoinsCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/AmountCoinsCallback" message="tns:IServiceGame_AmountCoinsCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerListCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/PlayerListCallback" message="tns:IServiceGame_PlayerListCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pong">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/Pong" message="tns:IServiceGame_Pong_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceGame/PongResponse" message="tns:IServiceGame_Pong_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnectCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceGame/CheckConnectCallback" message="tns:IServiceGame_CheckConnectCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceGame" type="tns:IServiceGame">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceGame_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prepare">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Prepare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RequestCard">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/RequestCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopRequestCard">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/StopRequestCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsCurrent">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/IsCurrent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsConnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/IsConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinPossible">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/JoinPossible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectClientToHost">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/CheckConnectClientToHost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/MsgCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCurrentUserCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/NewCurrentUserCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCardCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/NewCardCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameFinishCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/GameFinishCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewGameCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/NewGameCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AmountCoinsCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/AmountCoinsCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerListCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/PlayerListCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pong">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/Pong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceGame/CheckConnectCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGame">
    <wsdl:port name="NetTcpBinding_IServiceGame" binding="tns:NetTcpBinding_IServiceGame">
      <soap12:address location="net.tcp://192.168.1.102:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.102:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LENOVO-PC\Пользователь</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>